@import url('https://fonts.googleapis.com/css2?family=Nunito&family=Signika+Negative:wght@300;600&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;
    font-family: 'Nunito', sans-serif;
    font-family: 'Signika Negative', sans-serif;
}

body {
    font-size: 1.2rem; /* 1rem = 16px */
    background: #eee;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #fff;
    padding: 2rem 9%;
    box-shadow: 0 0.5rem 0.5rem rgba(0, 0, 0, 0.2);
}

.header .logo {
    font-size: 3rem;
    font-weight: bolder;
    color: grey;
}

.header .logo i {
    color: orange;
}

.header .navbar a {
    color:grey;
    margin: 0 1rem;
    cursor: pointer;
}

.header .navbar a:hover {
    color: orange;
}

.header .icons div{
    font-size: 1.3rem;
    cursor: pointer;
    color: grey;
    width: 3rem;
    height: 3rem;
    background: #eee;
    border-radius: 50%;
    text-align: center;
    line-height: 3rem;
    margin: 0 0.2rem;
}

.header .icons div:hover {
    background: orange;
    color: #fff;
}

.home {
    display: flex;
    justify-content: center;
    align-items: center;
    background: url(../img/banner-bg.webp);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    color: #fff;
    padding: 10rem 0;
}

.home .content {
    text-align: center;
    width: 50rem;
}

.home .content h3 {
    color: rgb(46, 46, 46);
    font-size: 3rem;
}

.home .content h3 span {
    color: orange;
}

.home .content p {
    font-size: 1.5rem;
    line-height: 1.8;
    color: rgb(112, 110, 110);
}

.home .content button {
    font-size: 1.5rem;
    cursor: pointer;
    padding: 1rem;
    background: orange;
    border-radius: 8px;
    color: #fff;
}

.heading {
    text-align: center;
    font-size: 3rem;
    padding: 2rem 0;
    color: black;
    padding-bottom: 3rem;
}

.heading span {
    color: #fff;
    background: orange;
    padding: 0.5rem 3rem;
    clip-path: polygon(88% 0, 100% 50%, 87% 100%, 0% 100%, 9% 48%, 0% 0%);
}

.box-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1.5rem;
    padding: 0 5rem;
}

.box-container .box {
    background: #fff;
    text-align: center;
    padding: 3rem 2rem;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.3);
}

.box-container .box h3 {
    font-size: 2rem;

}